.places__artist-info_left-position {
  position: relative;
  right: 125px;
  max-width: 484px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin: 0;
  padding: 0 0 0 40px;
}