@import url(../styles/normalize.css);
@import url(../blocks/header/header.css);
@import url(../blocks/content/lead/lead.css);
@import url(../blocks/content/lead/__title/lead__title.css);
@import url(../blocks/content/lead/__subtitle/lead__subtitle.css);
@import url(../blocks/content/lead/__image/lead__image.css);
@import url(../blocks/content/intro/intro.css);
@import url(../blocks/content/intro/__title/intro__title.css);
@import url(../blocks/content/intro/__quote/intro__quote.css);
@import url(../blocks/content/intro/__quote-author/intro__quote-author.css);
@import url(../blocks/content/intro/__text/intro__text.css);
@import url(../blocks/content/photo-grid/photo-grid.css);
@import url(../blocks/content/photo-grid/__item/photo-grid__item.css);
@import url(../blocks/content/photo-grid/__image/photo-grid__image.css);
@import url(../blocks/content/places/places.css);
@import url(../blocks/content/places/__card/places__card.css);
@import url(../blocks/content/places/__main-info/places__main-info.css);
@import url(../blocks/content/places/__title/places__title.css);
@import url(../blocks/content/places/__title/__extra-space/places__title_extra-space.css);
@import url(../blocks/content/places/__artist-info/places__artist-info.css);
@import url(../blocks/content/places/__artist-info/_left-position/places__artist-info_left-position.css);
@import url(../blocks/content/places/__url-heading/places__url-heading.css);
@import url(../blocks/content/places/__artist/places__artist.css);
@import url(../blocks/content/places/__content/places__content.css);
@import url(../blocks/content/places/__image/places__image.css);
@import url(../blocks/content/places/__text/places__text.css);
@import url(../blocks/content/places/__paragraph/places__paragraph.css);
@import url(../blocks/content/places/__button/places__button.css);
@import url(../blocks/content/places/__button/_top-position-us/places__button_top-position-us.css);
@import url(../blocks/content/places/__button/_top-position-bi/places__button_top-position-bi.css);
@import url(../blocks/content/cover/cover.css);
@import url(../blocks/content/cover/__image/cover__image.css);
@import url(../blocks/content/cover/__container/cover__container.css);
@import url(../blocks/content/cover/__title/cover__title.css);
@import url(../blocks/content/cover/__text/cover__text.css);
@import url(../blocks/content/cover/__button/cover__button.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);



@font-face {
  font-family: 'Inter-Black';
  src: url(../fonts/Inter-Black.woff2) format("woff2"),
  url(../fonts/Inter-Black.woff) format("woff");
}

@font-face {
  font-family: 'Inter-Regular';
  src: url(../fonts/Inter-Regular.woff2) format("woff2"),
  url(../fonts/Inter-Regular.woff) format("woff");
}

.page {
  background-color: #2A2C2F;
  max-width: auto;
  margin: auto;
  overflow: hidden;
}

@media screen and (max-width: 1200px) {

.lead__image {
  width: 768px;
  height: 480px;
  filter: none;
}
    
.cover__image {
  width: 768px;
  height: 746px;
}

.intro {
  padding: 55px 24px 64px;
}

.intro__quote {
   padding-top: 15px;
}

.photo-grid {
  padding: 0px 24px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

}