@import url(../styles/normalize.css);
@import url(../blocks/header/header.css);
@import url(../blocks/content/lead/lead.css);
@import url(../blocks/content/lead/__title/lead__title.css);
@import url(../blocks/content/lead/__subtitle/lead__subtitle.css);
@import url(../blocks/content/lead/__image/lead__image.css);
@import url(../blocks/content/intro/intro.css);
@import url(../blocks/content/intro/__title/intro__title.css);
@import url(../blocks/content/intro/__quote/intro__quote.css);
@import url(../blocks/content/intro/__quote-author/intro__quote-author.css);
@import url(../blocks/content/intro/__text/intro__text.css);
@import url(../blocks/content/photo-grid/photo-grid.css);
@import url(../blocks/content/photo-grid/__item/photo-grid__item.css);
@import url(../blocks/content/photo-grid/__image/photo-grid__image.css);
@import url(../blocks/content/places/places.css);
@import url(../blocks/content/places/__card/places__card.css);
@import url(../blocks/content/places/__main-info/places__main-info.css);
@import url(../blocks/content/places/__title/places__title.css);
@import url(../blocks/content/places/__artist-info/places__artist-info.css);
@import url(../blocks/content/places/__url-heading/places__url-heading.css);
@import url(../blocks/content/places/__artist/places__artist.css);
@import url(../blocks/content/places/__content/places__content.css);
@import url(../blocks/content/places/__image/places__image.css);
@import url(../blocks/content/places/__text/places__text.css);
@import url(../blocks/content/places/__paragraph/places__paragraph.css);
@import url(../blocks/content/places/__button/places__button.css);


@font-face {
  font-family: 'Inter-Black';
  src: url(../fonts/Inter-Black.woff2) format("woff2"),
  url(../fonts/Inter-Black.woff) format("woff");
}

@font-face {
  font-family: 'Inter-Regular';
  src: url(../fonts/Inter-Regular.woff2) format("woff2"),
  url(../fonts/Inter-Regular.woff) format("woff");
}

.page {
  background-color: #2A2C2F;
  max-width: 1440px;
  margin: auto;
}

