@import url(../styles/normalize.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/content/lead/lead.css);
@import url(../blocks/content/lead/__title/lead__title.css);
@import url(../blocks/content/lead/__subtitle/lead__subtitle.css);
@import url(../blocks/content/lead/__image/lead__image.css);
@import url(../blocks/content/intro/intro.css);
@import url(../blocks/content/intro/__title/intro__title.css);
@import url(../blocks/content/intro/__quote/intro__quote.css);
@import url(../blocks/content/intro/__quote-author/intro__quote-author.css);
@import url(../blocks/content/intro/__text/intro__text.css);
@import url(../blocks/content/photo-grid/photo-grid.css);
@import url(../blocks/content/photo-grid/__item/photo-grid__item.css);
@import url(../blocks/content/photo-grid/__image/photo-grid__image.css);
@import url(../blocks/content/places/places.css);
@import url(../blocks/content/places/__grid/places__grid.css);
@import url(../blocks/content/places/__title/places__title.css);
@import url(../blocks/content/places/__title/_extra-space/places__title_extra-space.css);
@import url(../blocks/content/places/__artist-info/places__artist-info.css);
@import url(../blocks/content/places/__url-heading/places__url-heading.css);
@import url(../blocks/content/places/__artist/places__artist.css);
@import url(../blocks/content/places/__image/places__image.css);
@import url(../blocks/content/places/__text/places__text.css);
@import url(../blocks/content/places/__paragraph/places__paragraph.css);
@import url(../blocks/content/places/__button/places__button.css);
@import url(../blocks/content/cover/cover.css);
@import url(../blocks/content/cover/__image/cover__image.css);
@import url(../blocks/content/cover/__container/cover__container.css);
@import url(../blocks/content/cover/__title/cover__title.css);
@import url(../blocks/content/cover/__text/cover__text.css);
@import url(../blocks/content/cover/__button/cover__button.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);



@font-face {
  font-family: 'Inter-Black';
  src: url(../fonts/Inter-Black.woff2) format("woff2"),
  url(../fonts/Inter-Black.woff) format("woff");
}

@font-face {
  font-family: 'Inter-Regular';
  src: url(../fonts/Inter-Regular.woff2) format("woff2"),
  url(../fonts/Inter-Regular.woff) format("woff");
}

.page {
  background-color: #2A2C2F;
  min-width: 320px;
  margin: auto;
  overflow: hidden;
}

@media screen and (max-width: 1200px) {

.lead__subtitle {
  padding-top: 99px;
}

.lead__image {
  width: 768px;
  height: 480px;
}

.intro {
  padding: 55px 24px 64px;
}

.intro__quote {
   padding-top: 15px;
}

.photo-grid {
  padding: 0px 24px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

.places {
  padding: 88px 24px 0;
  margin: 0;
}

.places__grid {
  padding: 0 0 30px;
  grid-template-columns: 340px fit-content(352px);
  grid-template-rows: 89px 340px auto;
  gap: 24px;
  width: fit-content;
}

.places__title {
  font-size: 42px;
  line-height: 1.1;
  display: flex;
  align-self: center;
}

.places__title_extra-space {
  font-size: 42px;
  line-height: 1.1;
  color: #fff;
  min-width: 300px;
  max-width: 340px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.places__paragraph {
font-size: 16px;
line-height: 1.63;
color: #fff;
margin: 0;
padding: 0 0 20px;
}

.places__image {
  width: 340px;
  height: 340px;
}

.cover__image {
  width: 100%;
  min-height: 740px;
}

}

@media screen and (max-width: 680px) {
  
.header {
  padding-top: 20px;
  padding-bottom: 50px;
}

.header__logo {
  transform: scale(0.74);
}

.lead {
  padding: 0 16px 0;
}

.lead__title {
  font-size: 40px;
  line-height: 1.1;
}

.lead__subtitle {
  padding-top: 60px;
  padding-bottom: 40px;
  font-size: 16px;
  line-height: 1.25;
}

.lead__image {
  width: 320px;
  height: 200px;
}
    
.intro {
padding: 44px 16px 38px;
}

.intro__title {
  font-size: 32px;
}

.intro__quote {
  font-size: 24px;
  line-height: 1.25;
  padding: 0;
  margin: 0;
}

.intro__quote-author {
  position: static;
  font-size: 24px;
  bottom: 0px;
}

.photo-grid {
  padding: 0px 16px 0px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 12px;
}

.places {
  padding: 62px 16px 0;
  margin: 0;
}

.places__grid {
  padding: 0 0 16px;
  grid-template-columns: 288px;
  grid-template-rows: auto;
  gap: 0;
}

.places__title {
  font-size: 32px;
  line-height: 1.09;
  display: flex;
  align-self: center;
  grid-column: 1;
  grid-row: 1 / 2;
  padding-bottom: 30px;
}

.places__title_extra-space {
  font-size: 32px;
  line-height: 1.09;
  padding-bottom: 30px;
  color: #fff;
  min-width: 300px;
  max-width: 340px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  grid-column: 1;
  grid-row: 1 / 2;
}

.places__artist-info {
  grid-column: 1;
  grid-row: 2 / 3;
}

.places__paragraph {
  font-size: 16px;
  line-height: 1.63;
  color: #fff;
  margin: 0;
  padding: 0 0 6px;
  }

.places__image {
  width: 320px;
  height: 320px;
  grid-column: 1;
  grid-row: 3 / 4;
  position: relative;
  right: 16px;
  padding-top: 30px;
}

.places__text {
  grid-column: 1;
  grid-row: 4 / 5;
}

.places__button {
  grid-column: 1;
  grid-row: 5 / 6;
  width: 288px;
  font-size: 14px;
  line-height: 1;
}

.cover {
  min-height: 254px;
  margin: 0 48px 0;
}
  
.cover__image {
  width: 100%;
  min-height: 254px;
  max-height: 254px;
}

.cover__title {
  font-size: 32px;
  line-height: 1.09;
  color: #fff;
  width: 288px;
}

.cover__text {
  font-size: 16px;
  line-height: 1.14;
  width: 280px;
  padding: 16px 0 29px;
}

.footer {
  padding: 64px 0 24px;
}

}