.lead__subtitle {
  font-family: 'Inter-Regular';
  font-weight: normal;
  font-size: 30px;
  line-height: 1.2;
  color: #fff;
  text-align: center;
  max-width: 720px;
  padding-top: 32px;
  padding-bottom: 64px;
  margin: 0;
}