.places__url-heading {
  max-width: 484px;
  padding: 0 0 8px;
  margin: 0;
  font-family: 'Inter-Regular';
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.12em;
  color: #AAAAAA;
  font-weight: normal;

}